.content{
    
}
.function{
    margin-top: 30px;
    background-color: rgb(42, 38, 61);
    border-radius: 30px;
    /* background-color: red; */
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    margin-bottom: 10px;
}
.prop_sel{
    /* background-color: blue; */
    min-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.function div
{
    padding: 10px;
}
.prop_sel div{
    padding: 10px;
}
.mode_sel
{
    display: flex;
    flex-direction: column;
}
select{
    background-color: transparent;
    color: white;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}
option{
    background-color: rgb(42, 38, 61);
}
.padd_sel
{
    display: flex;
    flex-direction: column;
}
.sel_label{
    padding-bottom: 5px;
}
.inputs
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
}
.inputs label{
    margin: 5px 0px;
}
.toogle{
    cursor: pointer;
    width: 60px;
    border-radius: 20px;
    /* background-color: rgb(255, 179, 0); */
}
.fun_type
{
    background-color: transparent;
}
.inp_txt{
    outline: none;
    border-radius: 10px;
    border: 1px solid gray
}
.key_tb{
    height: 25px;
    width: 60%;
    padding: 2px 10px;
}
.plain_tb{
    padding: 10px;
    height: 80px;
    width: 100%;
}
.submit_btn
{
    background-color:  rgb(255, 179, 0);
    width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}